body{
      margin: 0;
      padding: 0;
      background-color: #3FA9F5;
      background-image: url('../../images/imgWeb/Bombafondo.png');
      background-size: 200px;
}

#game-canvas{
      margin: 0 auto;
      display: block;
}

#player-lifes{
      background-color: rgba(255, 255, 255, .0);
      width: 755px;
      margin: 15px auto 5px auto;
      border-radius: 15px;
      padding: 20px 50px;
      color: rgba(63, 142, 245, .0);
      font-family: 'Courier New', Courier, monospace;
      font-weight: 900;
      font-size: 3em;
      display: block;
}